.textBlock {
  width: 770px;
  padding: 40px 98px;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #fff;
}

.title {
  margin-bottom: 14px;
}

.subtitle {
  margin-bottom: 36px;
}

.edit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.subtitleAuth {
  margin-bottom: 14px;
}
