.userData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 80px 0;
}

.orderHeading {
  margin-bottom: 40px;
}

.panel {
  display: flex;
  justify-content: space-between;
}

input,
select {
  padding: 6px;
  border: 2px solid black;
  border-radius: 15px;
  width: 170px;
}

.theadBlock {
  padding-right: 100px;
}

.thead {
  display: flex;
}

input,
select,
.thead h4 {
  margin-left: 30px;
}

.thead h4 {
  width: 170px;
  margin-bottom: 10px;
}
