.catalog {
  display: flex;
  margin: 0 15px 80px 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.filter {
  display: inherit;
  align-items: inherit;
}

.reset,
.desc,
.asc {
  opacity: 50%;
  margin-right: 8px;
  width: 24px;
  transition-duration: 0.4s;
  animation: ease-in-out;
}

.reset:hover,
.desc:hover,
.asc:hover {
  opacity: 1;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.select {
  padding: 6px;
  border-radius: 15px;
  width: 300px;
}
