.slider {
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 49px;
}

.arrow {
  position: absolute;
  opacity: 0;
  transition-duration: 0.4s;
  padding-left: 20px;
  padding-right: 20px;
}

.arrow:hover {
  cursor: pointer;
  opacity: 1;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
  transform: rotate(180deg);
}

.percentagesHigher {
  padding-top: 25.5%;
  padding-bottom: 25.5%;
}

.percentagesLower {
  padding-top: 22.7%;
  padding-bottom: 22.7%;
}

.controls {
  position: absolute;
  bottom: -40px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid black;
}

.active {
  background-color: black;
}
