.footer {
  text-align: center;
  margin-top: 120px;
}

.messengers {
  font-size: 32px;
  margin-bottom: 80px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.icons img {
  width: 100px;
  transition-duration: 0.4s;
  animation: ease-in;
}

.icons button {
  margin: 0 32px 16px 32px;
}

.contact {
  margin-top: 40px;
}

.copyright {
  margin-bottom: 40px;
}
