.button {
  font-size: 32px;
  padding: 12px 68px;
  border-radius: 30px;
}

.buttonCtvBlack {
  border: 4px solid black;
}

.buttonCtvBlack:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

.buttonCtvBlue,
.buttonCtvBlueOrder {
  border: 4px solid #20afff;
}

.buttonCtvBlue:hover,
.buttonCtvBlueOrder:hover {
  background-color: #20afff;
  color: white;
  opacity: 1;
}

.buttonCtvBlueOrder {
  width: 100%;
}
