.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 10;
}

.loading {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading:before,
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loading:before {
  border: 6px solid rgba(0, 0, 0, 0.1);
}

.loading:after {
  border: 6px solid transparent;
  border-top-color: #000;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
