.order {
  margin-bottom: 120px;
}

.info {
  display: flex;
  align-items: center;
}

.itemBasket {
  position: relative;
  width: 350px;
}

.image {
  width: 100%;
  height: 530px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, box-shadow 0.2s, cursor 0.2s;
  animation: ease-in-out;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.imageBasket {
  margin-bottom: 0;
}

.rightBlock {
  margin-left: 30px;
  height: 530px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 100px;
}
