.burgerMenu {
  position: relative;
  z-index: 1;
}

.icon {
  width: 30px;
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
  margin: 3px 0;
  background-color: #000;
  transition-duration: 0.4s;
  animation: ease-in-out;
}

.menu {
  margin-top: 16px;
  position: absolute;
  background-color: #000;
  border-radius: 30px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  animation: slide-down 0.4s ease-in-out;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {
  font-size: 32px;
  color: #fff;
  margin-bottom: 32px;
  transition-duration: 0.4s;
  animation: ease-in-out;
}

.item:hover {
  opacity: 70%;
  cursor: pointer;
}

.icon.active .bar:first-child {
  transform: translateY(10px) rotate(45deg);
}

.icon.active .bar:nth-child(2) {
  opacity: 0;
}

.icon.active .bar:last-child {
  transform: translateY(-10px) rotate(-45deg);
}
