.heading {
  margin-bottom: 48px;
}

.logo {
  width: 100%;
  border-radius: 30px;
  margin: 32px 0;
}

.warning {
  margin-bottom: 48px;
}

.message {
  font-size: 24px;
  margin-bottom: 48px;
}

.btnContainer {
  font-size: 24px;
  font-weight: 700;
}
