.textField {
  text-align: left;
  margin-bottom: 16px;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 58px;
  border: 1px solid black;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
}

.invalid {
  outline: 2px solid rgb(255, 85, 122);
  box-shadow: 0px 0px 8px 2px rgba(255, 85, 122, 0.8);
}

.valid {
  outline: 2px solid rgb(133, 204, 252);
  box-shadow: 0px 0px 8px 2px rgba(133, 204, 252, 0.8);
}

.label {
  font-size: 24px;
}

.errorMessage {
  color: rgb(255, 114, 145);
}
