@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
i,
ol,
ul,
li,
form,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* Remove default list styles */
ol,
ul {
  list-style: none;
}

/* Remove default hyperlink styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove default button styling */
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  transition-duration: 0.4s;
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
  opacity: 50%;
}

/* Added a font to the entire document */
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  max-width: 1170px;
  margin: auto;
}

h1 {
  font-weight: 900;
  font-size: 64px;
  font-style: italic;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

table {
  text-align: center;
  font-size: 24px;
  margin: 0 auto 20px auto;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 30px;
}

td,
th {
  padding: 20px;
  border: 1px solid black;
}

table thead th:last-child {
  border-top-right-radius: 30px;
}
table thead th:first-child {
  border-top-left-radius: 30px;
}
table tfoot td:last-child {
  border-bottom-right-radius: 30px;
}
table tfoot td:first-child {
  border-bottom-left-radius: 30px;
}
