.checkbox {
  margin-bottom: 20px;
  text-align: left;
}

.square {
  height: 20px;
  width: 20px;
  margin-left: 0;
  margin-right: 20px;
}

.label {
  font-size: 24px;
}

.errorMessage {
  color: rgb(255, 114, 145);
}
